PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=WgZezx8KI6jp_37K3ElSbKeSVIG_HAMH
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=db_movie_catolog
S3_KEY=AKIAQIQW7ZYPMK7BBNA4
S3_SECRET=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
S3_BUCKET=app-movie-catalog
S3_REGION=us-east-1

